@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-primary {
  background-color: #06b6d4;
}
.text-primary {
  color: #06b6d4;
}
.text-secondary {
  color: #ef863e;
}
.bg-auth-bg-img {
  background-image: url("https://i.pinimg.com/736x/cb/31/67/cb3167e07ef7e20cb7356b4c1379fc50.jpg");
}
.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bg-profile-bg--img {
  background-image: url("https://i.pinimg.com/736x/d6/df/22/d6df227d8325dbfc736b870f0ecd27d3.jpg");
}

.font-medium {
  font-weight: 600;
}

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }
  body {
    background-color: #fff;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border-slate-200 outline-none;
  }
  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-sky-500 shadow-lg shadow-sky-500/5 p-[10px] rounded-md my-1 hover:bg-sky-500/15 hover:text-sky-500;
  }

  .option-chip {
    @apply text-xs font-medium text-sky-700 bg-sky-100 px-4 py-1 rounded-lg border border-sky-50 cursor-pointer;
  }

  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-sky-500 text-white hover:bg-sky-200/60 hover:text-sky-500 rounded px-3 py-[4px];
  }

  .icon-btn {
    @apply text-[20px] text-slate-300 cursor-pointer hover:text-blue-500;
  }

  .info-text {
    @apply text-sm text-sky-500 font-medium text-center p-3 bg-gray-100 rounded-lg;
  }
}

/* fix css */
.option-chip:hover {
  border-color: rgb(0, 140, 255);
}
